        /* only small desktops */
        /* tablets */
        /* only small tablets */
        
        @media only screen and (min-width: 768px) and (max-width: 1400px) {
            .titulo {
                justify-items: center;
                padding-left: 10%;
            }
            .navegador {
                justify-items: center;
                padding-left: 10%;
            }
        }
        
        @media (min-width: 768px) and (max-width: 991px) {}
        /* mobile or only mobile */
        
        @media (max-width: 767px) {
            .navegador {
                margin-left: 3%;
                padding-left: 5%;
                width: 100%;
            }
        }
        
        @media only screen and (min-width: 1400px) and (max-width: 3000px) {
            .navegador_control {
                width: 100%;
            }
            .navegador {
                padding-left: 1%;
            }
        }