/* only small desktops */


/* tablets */


/* only small tablets */

@media only screen and (min-width: 768px) and (max-width: 1400px) {
    .sidebar {
        display: none;
    }
    .abre-cierra {
        display: none;
    }
    .logo {
        margin-left: 4%;
        margin-top: 5%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-light .navbar-brand {
        margin-left: 15px;
    }
    .navbar-light .navbar-toggler {
        margin-right: 15px;
        border-radius: 0px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        box-shadow: none;
    }
    .carousel-control-prev {
        left: -60px;
    }
    .carousel-control-next {
        right: -60px;
    }
    .why-text h4 {
        font-size: 18px;
    }
    .why-text p {
        margin: 0px;
    }
}


/* mobile or only mobile */

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
    .abre-cierra {
        display: none;
    }
    .logo {
        object-fit: fill;
        margin-top: 4%;
    }
    .barra {
        width: 100%;
    }
    .log_out :disabled {
        display: none;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 3000px) {
    .barra {
        display: none;
    }
}