/* only small desktops */


/* tablets */


/* only small tablets */

@media only screen and (min-width: 768px) and (max-width: 1400px) {
    .sidebar {
        display: none;
    }
    .abre-cierra {
        display: none;
    }
    .logo {
        margin-left: 4%;
        margin-top: 5%;
    }
    .barra {
        background-color: rgb(1, 99, 1);
        color: white;
    }
    a {
        color: white;
    }
    a:hover {
        color: white;
    }
    .borrar {
        width: 5px;
        height: 5px;
        font-weight: 600;
        font-size: 10px;
        color: #ffffff;
        background-color: #e90a0a;
        border-radius: 6px;
        border: 0px solid #0016b0;
    }
    .borrar:hover {
        color: #e90a0a;
        background-color: #ffffff;
    }
    .ver {
        width: 5px;
        height: 5px;
        font-weight: 600;
        font-size: 10px;
        color: #ffffff;
        background-color: #0974ee;
        border-radius: 6px;
        border: 0px solid #0016b0;
    }
    .ver:hover {
        color: #0974ee;
        background-color: #ffffff;
    }
    .titulo {
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 30%;
        padding-right: 30%;
        text-align: center;
        font-size: 0.9rem;
    }
    .navegador_control {
        margin-left: 8%;
        margin-right: 8%;
        padding-left: 8%;
        padding-right: 5%;
        width: 100%;
    }
    .tabla {
        margin-left: 15%;
        margin-right: 8%;
        padding-left: 8%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {}


/* mobile or only mobile */

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
    .abre-cierra {
        display: none;
    }
    .logo {
        object-fit: fill;
        margin-top: 4%;
    }
    .barra {
        background-color: rgb(1, 99, 1);
        color: white;
    }
    .log_out :disabled {
        display: none;
    }
    a {
        color: white;
    }
    a:hover {
        color: white;
    }
    .borrar {
        width: 5px;
        height: 5px;
        font-weight: 600;
        font-size: 10px;
        color: #ffffff;
        background-color: #e90a0a;
        border-radius: 6px;
        border: 0px solid #0016b0;
    }
    .borrar:hover {
        color: #e90a0a;
        background-color: #ffffff;
    }
    .ver {
        width: 5px;
        height: 5px;
        font-weight: 600;
        font-size: 10px;
        color: #ffffff;
        background-color: #0974ee;
        border-radius: 6px;
        border: 0px solid #0016b0;
    }
    .ver:hover {
        color: #0974ee;
        background-color: #ffffff;
    }
    .titulo {
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 30%;
        padding-right: 30%;
        text-align: center;
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 3000px) {
    .barra {
        display: none;
    }
    .borrar {
        margin-top: 10%;
        padding: 0px;
        width: 16px;
        height: 5px;
        font-weight: 600;
        font-size: 8px;
        color: #ffffff;
        background-color: #e90a0a;
        border-radius: 6px;
        border: 0px solid #0016b0;
    }
    .borrar:hover {
        color: #e90a0a;
        background-color: #ffffff;
    }
    .ver {
        margin-top: 10%;
        padding: 0px;
        width: 10px;
        height: 5px;
        font-weight: 600;
        font-size: 10px;
        color: #ffffff;
        background-color: #0974ee;
        border-radius: 6px;
        border: 0px solid #0016b0;
    }
    .ver:hover {
        color: #0974ee;
        background-color: #ffffff;
    }
    .titulo {
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 30%;
        padding-right: 30%;
        text-align: center;
        font-size: 1.1rem;
        inline-size: auto;
    }
}